<meta http-equiv="refresh" content="5" />
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Workflow</th>
            <th>State</th>
          </tr>
        </thead>
        <tbody>
          <% @media.each do |medium| %>
          <tr>
            <th><%= medium.id %></th>
            <td><%= medium.title %></td>
            <td><%= medium.workflow.title %></td>
            <td><%= medium.state %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<hr>
